<html>
    <link rel="stylesheet" href='/static/style.css'/>
<body>
    <h1 class="header">Homepage</h1>
    <div id="links">
        <a href="/appointments">Appointments</a><br>
        <a href="/suppliers">Suppliers</a><br>
        <a href="/cars">Cars</a><br>
        <a href="/customers">Customers</a><br>
        <a href="/repairs">Repairs</a><br>
        <a href="/invoices">Invoices</a><br>
        <a href="/employees">Employees</a><br>
        <a href="/about">Shop Information</a><br>
        <a href="/login">Login Page</a>
    </div>

    {% block body %} {% endblock %}
</body>

</html>
